.nav-link{
    margin-top: auto;
}
.bar{
     fill: navy; 
}

body{
    font-family: 'Roboto Mono';
}

.btn {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
  }

  .btn:hover {opacity: 1}

  #snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}
 #city_picture{
    width: auto ;
    max-width: auto ;
    height: auto ;
  }
  #jumbotron{
    background-color: #6e41bf;
  }
  #stats{
    background-color: #6f41c1;
    width: auto;
    height:auto
  }

  figure {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
  }
  figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }